article.item 
    header 
        h1 #{product.name}
    .image 
        img(src=product.img, alt=product.name)
    .content 
        h2= product.price 
        p= product.description 
    .actions 
        form#edit(action=`/products/edit/${ encodeURI(product.name)}`, method="GET") 
            button(type="submit") Edit
        form#delete(action=`/products/delete/${encodeURI(product.id)}` , method="POST")  
            button(type="submit") Delete