doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title #{docPage}
        block head
    body 
        header.main-header 
            nav.menus
                ul
                    li 
                        a(class=`${path === "index" ? "active" : "" }`, href="/") Shop
                    if isAuthenticated
                        li
                            a(class=`${path === "products" ? "active" : "" }`, href="/products") Products
                        li
                            a(class=`${path ==="cart" ? "active" : "" }`, href="/cart") Cart
                        li
                            a(class=`${path === "order" ? "active" : "" }`, href="/order") Order
                        li 
                            a(href="/users", class=`${path === "Users" ? "active" : "" }`) Users 

            nav.auth
                ul
                    if !isAuthenticated
                        li 
                            a(class=`${path === "login" ? "active" : "" }`, href="/auth/login") Login
                    else
                        li
                            form(action="/auth/logout" method="POST")  
                                button(type="submit")  Logout

        main 
            block content 


        footer 
            p copyright
