extends ../base 

block head 

block content 

    #{JSON.stringify(product)}

    h1 #{product.title} Detail Page 
    hr
    .image 
        img(src=product.imageUrl, alt=product.title)
    h2= product.price 
    p= product.description
    .actions 
        form(action="/cart" method="POST")
            button(type="submit") Add to Cart
            input(type="hidden", name="id", value=product.id) 